<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	<link href="${pageContext.request.contextPath}/style.css" rel="stylesheet">
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <title>파일 다운로드</title>
  </head>
  <body>
  	<div class="content">
		<br/><br/>
		<h3>파일 업로드</h3>
<form action="/user/join2" method="post" enctype="multipart/form-data">
<input type="text" id="id" name="id" placeholder="id"><br>
<input type="text" id="password" name="password" placeholder="password"><br>
<input type="text" id="email" name="email" placeholder="email"><br>
<input type="text" id="address" name="address" placeholder="address"><br>
<input type="text" id="phoneNumber" name="phoneNumber" placeholder="phone"><br>
<input type="text" id="name" name="name" placeholder="pet"><br>
<input type="file" name="file" />
<button type="submit">Upload</button>
</form>

		

	</div>
  </body>
</html>