<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
</head>
<body>
<form id="joinform" name="joinform" method="POST">
<input type="text" id="id" name="id" placeholder="id"><br>
<input type="text" id="password" name="password" placeholder="password"><br>
<input type="text" id="email" name="email" placeholder="email"><br>
<input type="text" id="address" name="address" placeholder="address"><br>
<input type="text" id="phoneNumber" name="phoneNumber" placeholder="phone"><br>
<input type="text" id="petName" name="petName" placeholder="pet"><br>
<input type="text" id="img" name="img" placeholder="img"><br>
<input type="button" id="add" value="버튼">
</form>
</body>
</html>